.button {
    color:black;
    font-size: larger;    
    left:0;
    right: 0;
}
.button:active{
    box-shadow: inset 2px black;
}
#reject-button{
    background-color: #f44;
}
#accept-button{
    background-color: lightgreen;
}
#skip-button{
    background-color: yellow;
}
#more-button{
    background-color: #a000e0;
}
pre{
    font-size: larger;
}
#controls{
    position: fixed;
    right: 0;
    box-sizing: border-box;
    bottom: 0;
}
#prompt{
    width: fit-content;
}